body { margin: 0px; }
div.frame {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100px;
  border: 1px solid green;

  margin-top: 200px;
}
div.frame .piece {
  display: inline-block;
  width: 10px;
}